:root {
  --font-primary: 'Inter', sans-serif;
  --font-display: 'Montserrat', sans-serif;

  --color-bg: #12161F;
  --gradient-start: #1D5E8C;
  --gradient-mid: #28A5B9;
  --gradient-end: #54D6C4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  color: #fff;
  font-family: var(--font-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  height: 100%;
}